body {
    text-align: center;
    background-image: url("gif/wheel.gif");
    background-repeat: no-repeat, repeat;
    background-size: cover;


}

.block {
    height: 92px;
    width: 80px;
    border: 3px solid black;
    text-transform: uppercase;
    font-size: 82px;
    color: darkturquoise;
    text-shadow: 2px 2px 7px yellow;
    overflow: hidden;

}

#btn {
    height: 90px;
    width: 120px;
    background-color: mediumturquoise;
    border-radius: 35%; 
    font-size: 25px; 
    outline: none;
}

#container {
    margin-top: 8%;
    margin-right: 6px;
}

div {
    display: inline-block;
}

#field {
    margin-top: 15px;
}

h1 {
    color: yellow;
}

.hint {
    color: white;
}

hr {
    height: 10px;
    background-color: lightseagreen;
    margin-top: -4px;
    margin-bottom: -4px;
}

/* p {

} */

span {
    text-align: center;
    margin-right: 11px;
}



